/* html {
    background: wheat
} */

*{
    margin: 0px;
    padding: 0;

} 

body  {
    background-image: url();
    width: 100%;
    margin: auto;
}

main {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
    width: 90%;
    margin: auto;
}

section {
    /* background: rgb(137, 35, 35); */
    width: 30%;
    margin: 10px;
    border: 2px solid #000000
}

section ul {
    text-indent: 75px;
    list-style position: inset;
    
}


h1,h2{ text-decoration: dashed; text-align: center;}

img{
    position: absolute;
    top: 25px;
    left: 25px;
    border: 2px solid lightblue;
    width: 5%;

}

p{
    margin: 5px 0 ;
}
@media screen and (max-width:768px) { 
    img {
        position: unset;
        display: block;
        margin: auto;
    }
    
},